a:link,
a:visited,
a:active {
  text-decoration: none;
  color: rgb(0, 57, 93);
}
a:hover {
  color: rgb(15, 132, 204);
}
strong {
  font-weight: 500;
  color: rgb(50, 50, 50);
}

/* SIMPLE CSS POPUP TOOLTIP */
.popup {
  position: relative;
}
.popup .tip {
  z-index: 1;
  position: absolute;
  top: 24px;
  left: 0;
  visibility: hidden;
  max-width: 320px;
  padding: 4px 8px;
  font-size: 11px;
  color: rgb(0, 0, 0);
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.4);
}
.popup:hover .tip {
  visibility: visible;
}

/* LOADING PAGE */
#loading {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(255, 255, 255);
  transition: all 0.4s;
}
#loading div {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  font-size: 13px;
  color: rgb(0, 0, 0);
}

/* APP */
#app {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
#app .background-image {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-repeat: no-repeat;
  background-size: cover;
  transform: scale(0.1);
  transition: transform 0.2s;
}
#app .background-image.loaded {
  transform: scale(1);
}

/* APP HEADER */
#app header {
  margin-top: 32px;
  padding: 32px 96px 0px 96px;
}
#app header .options {
  position: fixed;
  top: 0px;
  right: 0px;
  padding: 6px 16px;
}
#app header .options-language {
  font-size: 9px;
  text-transform: uppercase;
  line-height: 100%;
  display: inline-block;
  vertical-align: middle;
}
#app header .options-theme {
  display: inline-block;
  vertical-align: middle;
  width: 10px;
  height: 10px;
  margin-left: 16px;
  border-radius: 50%;
  background-color: rgb(0, 0, 0);
}
#app header .options-language:hover,
#app header .options-theme:hover {
  cursor: pointer;
}
#app header .title {
  padding: 16px 16px;
}
#app header .title .name {
  font-family: PoiretOne;
  font-size: 42px;
  line-height: 100%;
  color: rgb(30, 30, 30);
}
#app header .title .hole {
  font-size: 12px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 500;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  display: inline-block;
  transform: scale(1.57, 1.3) translateX(18.5%); /* depends on text size */
}
#app header .title .hole.en {
  transform: scale(1.97, 1.3) translateX(25%); /* depends on text size */
}
#app header .menu {
  padding: 12px 6px;
}
#app header .menu .item {
  display: inline-block;
  font-size: 11px;
  text-transform: uppercase;
  color: rgb(40, 40, 40);
  padding: 6px 12px;
}
#app header .menu .item.active {
  color: rgb(16, 145, 224);
}
#app header .menu .item:hover {
  cursor: pointer;
}
#app header .menu .item:not(.active):hover {
  color: rgb(0, 0, 0);
  text-decoration: underline;
}

/* APP CONTENT */
#app main {
  flex-grow: 1;
  overflow-y: scroll;
  scroll-behavior: smooth;
}
#app main section {
  position: relative;
  min-height: 100%;
}
#app main section .section-background-image {
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transform: scale(0.1);
  transition: transform 0.2s;
}
#app main section .section-background-image.loaded {
  transform: scale(1);
}
#app main .content {
  padding: 32px 112px 32px 112px;
  min-height: 100%;
}
#app main .content .content-title {
  padding-bottom: 6px;
  font-size: 12px;
  font-weight: 500;
  padding-left: 2px;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
  display: none;
}

/* DARK THEME */
#app.dark a:link,
#app.dark a:visited,
#app.dark a:active {
  text-decoration: none;
  color: rgb(0, 152, 247);
}
#app.dark a:hover {
  color: rgb(30, 168, 253);
}
#app.dark strong {
  color: rgb(222, 222, 222);
}
#loading.dark {
  background-color: rgb(0, 0, 0);
}
#loading.dark div {
  color: rgb(222, 222, 222);
}
#app.dark header .options-language {
  color: rgb(222, 222, 222);
}
#app.dark header .options-theme {
  background-color: rgb(255, 255, 255);
}
#app.dark header .options-btn {
  color: rgb(255, 255, 255);
}
#app.dark header .title .name {
  color: rgb(222, 222, 222);
}
#app.dark header .title .hole {
  color: rgb(255, 255, 255);
}
#app.dark header .menu .item {
  color: rgb(200, 200, 200);
}
#app.dark header .menu .item.active {
  color: rgb(17, 163, 253);
}
#app.dark header .menu .item:not(.active):hover {
  color: rgb(255, 255, 255);
  text-decoration: underline;
}
#app.dark main .content .content-title {
  color: rgb(222, 222, 222);
}

@media only screen and (max-width: 767px) {
  #app main .content {
    padding: 32px 32px 32px 32px;
  }
}

@media only screen and (max-width: 580px), screen and (max-height: 580px) {
  #app header {
    margin-top: 0px;
    padding: 32px 16px 0px 16px;
  }
  #app header .options-theme {
    width: 16px;
    height: 16px;
  }
  #app header .menu {
    display: none;
  }
  #app main .content {
    padding: 24px 32px 32px 32px;
    min-height: auto;
  }
  #app main section {
    min-height: auto;
  }
  #app main .content .content-title {
    display: block;
  }
}
