body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "PoiretOne";
  src: local("PoiretOne"),
    url("./assets/fonts/PoiretOne/PoiretOne-Regular.ttf") format("truetype");
}

::-webkit-scrollbar {
  display: none;
}
